html, body {
	margin: 0;
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
}

th {
	width: 33%;
}

.logo {
	margin: 1%;
}

.logo img {
	width: 80px;
	height: 70px;
}

.center {
	text-align: center;
}

.autoMargin {
	margin-left:auto;
	margin-right:auto;
}

.marginTop {
	margin-top: 2%;
}

#resultsTable {
	width: 100%;
	border-radius: 5px;
	border-color: gray;
}

#resultsTable tr {
	border-bottom: solid 1px #AAA;
}

thead {
	background-color: #AFC1D3;
}

header {

	background: #3D6DA8;
}

#loadingIcon {
	position: absolute;
	top: 25%;
}

.errorBox {
	border-color: #E90707;
	background-color: #FFCBCB; 
}

.successBox {
	border-color: #14DF55;
	background-color: #CAFFBA;
}

.entry {
	padding: 1%;
	outline: none;
	
}

input {
	color: #485A66;
	background-color: #D6F6FA;;
	font-size; 125%; 
	border-radius: 5px;
	border: solid 1px #3bc;
	text-align: center;
	
}
